<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title><%= title %> </title>
    <link rel="stylesheet"  href="css/style.css" />

</head>
<body>
    <!-- Load the static image file  -->
      </h2> Search my comments</h2>
    <form method="POST" action="/comments">
        <input
        type="text"
        size="30"
        placeholder="search comments by email"
        name="email"
      /><br />
      <input type="submit" value="Submit" name="submit" />
    </form>            
    </body>
    </html>