<!DOCTYPE html>

<html >
<head>
    <title></title>
    <link href = "css/style.css" rel = "stylesheet">
    
</head>
<body >
    
    
<h2>Welcome to my course evaluation page</h2>
    <table>
        
            
            <td id ='q'><a href="/signup">signup</a></td>
        
        
			
            <td id = 'q'><a href="/signin">signin</a></td>
             

           
    </table>

</body>
</html>