<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href = "css/style.css" rel = "stylesheet">
    <meta charset="utf-8" />
    <title></title>
  </head>
<body>
    <form method=post action="/signin">
        <h1>LOGIN TO EVALUATE THE COURSE</h1>
        <input
          type="text"
          size="30"
          placeholder="Enter your user name"
          name="username"
        /><br />
        <input
          type="password"
          size="30"
          placeholder="Enter your password"
          name="password"
        /><br />
        <input type="submit" value="Submit" name="submit" />
        </form>
        </body>