<!DOCTYPE html>
<html>
<head>
	<!-- Use the 'title' property to render a page title  -->
	
    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>
<body id ="body2">
    <form method="POST" action="/signin">
        <h1>Welcome</h1>
        
        <tr>
            
            <td> <a href="/comments">Display comments</a> </td>
        </tr>
        <tr>
			
            <td><a href="/submit_comments">Submit Comments</a></td>
        </tr>
        
    </form>
    <a href="/">Logout</a> 
    </body>