<head>
    <link href = "css/style.css" rel = "stylesheet">
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
	<!-- Load the static image file  -->
	<form action="/submit_comments" method="post">
        <div class="outer_container">
            <!-- Use the 'title' property to render a title element  -->
            
            <h2></h2>
            <div class="container">
                <label>
                    <b>Course Code:</b>
                </label>
                <input type="text" class="fields" name="courseCode" value="john" />
            </div>
            <div class="container">
                <label>
                    <b>CourseName:</b>
                </label>
                <input type="text" class="fields" name="courseName" value="smith" />
            </div>
            <div class="container">
                <label>
                    <b>program</b>
                </label>
                <input type="text" class="fields" name="program" value="" />
            </div>
            <div class="container">
                <label>
                    <b>semester:</b>
                </label>

                <input type="text" class="fields" name="semester" value="" />
            </div>
            <div class="container">
                <label>
                    <b>Comments:</b>
                </label>
                <input type="text" class="fields" name="comment" value="" />
            </div>
            <div class="container">
                <label>
                    <b>Date:</b>
                </label>

                <input type="text" class="fields" name="date" value="" />
            </div>

          
            
            <div class="container">
                <label>
                    <b>email:</b>
                </label>
                <input type="text" class="fields" name="email" value="" />
            </div>
            <div class="container">
                <button type="submit" class="form-field-no-caption">Submit</button>
            </div>
       </div>
</form>




</body>
</html>
